In [1]:
import sqlite3
import pandas as pd
import seaborn as sns
import numpy as np

In [8]:
conn = sqlite3.connect('tx_deathrow_small.db')
c = conn.cursor()

In [3]:
# in sql 
query = None
c.execute(query).fetchall()

,Date of Birth,Date of Offence,Highest Education Level,Last Name,First Name,TDCJ\nNumber,Age at Execution,Date Received,Execution Date,Race,County,Eye Color,Weight,Height,Native County,Native State,Last Statement
Execution,,,,,,,,,,,,,,,,,
553,1983-09-24,2004-11-21,9.0,Young,Christopher Anthony,999508,34,2006-03-31,2018-07-17,Black,Bexar,Brown,216.0,"6' 1""",Bexar,Texas,l want to make sure the Patel family knows I l...
552,1951-08-28,1979-05-27,12.0,Bible,Danny Paul,999455,66,2003-07-17,2018-06-27,White,Harris,Blue,194.0,"5' 7""",Brazoria,Texas,NaN
551,1981-04-03,2003-12-03,10.0,Castillo,Juan Edward,999502,37,2005-09-27,2018-05-16,Hispanic,Bexar,Brown,180.0,"5' 11""",Bexar,Texas,To everyone that has been there for me you kno...
550,1987-04-04,2008-04-06,11.0,Davila,Erick Daniel,999545,31,2009-02-27,2018-04-25,Black,Tarrant,Brown,161.0,"5' 11""",Tarrant,Texas,"Yes, I would like to say nephew it burns huh. ..."
549,1980-03-26,2005-09-13,12.0,Rodriguez III,Rosendo,999534,38,2008-05-14,2018-03-27,Hispanic,Lubbock,Brown,198.0,"5' 8""",Wichita,Texas,First I would like to say I have been here sin...

In [9]:
# in sql 
query = """SELECT * FROM executions LIMIT 3"""
c.execute(query).fetchall()

[('Christopher Anthony',
  'Young',
  553,
  34,
  '2018-07-17',
  'Bexar',
  "l want to make sure the Patel family knows I love them like they love me. Make sure the kids in the world know I'm being executed and those kids I've been mentoring keep this fight going. I'm good Warden."),
 ('Danny Paul', 'Bible', 552, 66, '2018-06-27', 'Harris', None),
 ('Juan Edward',
  'Castillo',
  551,
  37,
  '2018-05-16',
  'Bexar',
  "To everyone that has been there for me you know who you are. Love y'all. See y'all on the other side.That's it.")]

In [11]:
# in sql 
query = """SELECT first_name, last_name FROM executions LIMIT 3"""
c.execute(query).fetchall()

[('Christopher Anthony', 'Young'),
 ('Danny Paul', 'Bible'),
 ('Juan Edward', 'Castillo')]

In [14]:
# in sql 
query = """SELECT 50 + 2, 51 * 2"""
c.execute(query).fetchall()

[(52, 102)]

In [ ]:
# in sql 
query = """"""
c.execute(query).fetchall()

In [ ]:
# in sql 
query = """"""
c.execute(query).fetchall()

In [ ]:
# in sql 
query = """"""
c.execute(query).fetchall()

In [ ]:
# in sql 
query = """"""
c.execute(query).fetchall()

In [ ]:
# in sql 
query = """"""
c.execute(query).fetchall()

In [ ]:
# in sql 
query = """"""
c.execute(query).fetchall()