In [1]:
import sqlite3
import pandas as pd
import seaborn as sns
import numpy as np

In [8]:
conn = sqlite3.connect('tx_deathrow_small.db')
c = conn.cursor()

In [9]:
# in sql 
query = """SELECT * FROM executions LIMIT 3"""
c.execute(query).fetchall()

[('Christopher Anthony',
  'Young',
  553,
  34,
  '2018-07-17',
  'Bexar',
  "l want to make sure the Patel family knows I love them like they love me. Make sure the kids in the world know I'm being executed and those kids I've been mentoring keep this fight going. I'm good Warden."),
 ('Danny Paul', 'Bible', 552, 66, '2018-06-27', 'Harris', None),
 ('Juan Edward',
  'Castillo',
  551,
  37,
  '2018-05-16',
  'Bexar',
  "To everyone that has been there for me you know who you are. Love y'all. See y'all on the other side.That's it.")]

In [11]:
query = """SELECT first_name, last_name FROM executions LIMIT 3"""
c.execute(query).fetchall()

[('Christopher Anthony', 'Young'),
 ('Danny Paul', 'Bible'),
 ('Juan Edward', 'Castillo')]

In [14]:
query = """SELECT 50 + 2, 51 * 2"""
c.execute(query).fetchall()

[(52, 102)]

In [15]:
query = """SELECT first_name, last_name FROM executions WHERE ex_number = 145"""
c.execute(query).fetchall()

[('Karla', 'Tucker')]

In [18]:
query = """SELECT first_name, last_name, ex_age FROM executions WHERE ex_age <= 25"""
c.execute(query).fetchall()

[('Toronto', 'Patterson', 24),
 ('T.J.', 'Jones', 25),
 ('Napoleon', 'Beazley', 25),
 ('Richard', 'Andrade', 25),
 ('Jay', 'Pinkerton', 24),
 ('Jesse', 'De La Rosa', 24)]

In [19]:
query = """
    SELECT first_name, last_name, ex_number
    FROM executions
    WHERE first_name = 'Raymond'
    AND last_name LIKE '%Landry%'"""
c.execute(query).fetchall()

[('Raymond', 'Landry, Sr.', 29)]

In [20]:
query = """SELECT 0 AND 0 OR 1"""
c.execute(query).fetchall()

[(1,)]

In [21]:
query = """
    SELECT first_name, last_name, last_statement
    FROM executions
    WHERE first_name = 'Napoleon'
    AND last_name LIKE '%Beazley%'"""
c.execute(query).fetchall()

[('Napoleon',
  'Beazley',
  'The act I committed to put me here was not just heinous, it was senseless. But the person that committed that act is no longer here - I am. I\'m not going to struggle physically against any restraints. I\'m not going to shout, use profanity or make idle threats. Understand though that I\'m not only upset, but I\'m saddened by what is happening here tonight. I\'m not only saddened, but disappointed that a system that is supposed to protect and uphold what is just and right can be so much like me when I made the same shameful mistake. If someone tried to dispose of everyone here for participating in this killing, I\'d scream a resounding, "No." I\'d tell them to give them all the gift that they would not give me...and that\'s to give them all a second chance. I\'m sorry that I am here. I\'m sorry that you\'re all here. I\'m sorry that John Luttig died. And I\'m sorry that it was something in me that caused all of this to happen to begin with. Tonight we tell the world that there are no second chances in the eyes of justice...Tonight, we tell our children that in some instances, in some cases, killing is right. This conflict hurts us all, there are no SIDES. The people who support this proceeding think this is justice. The people that think that I should live think that is justice. As difficult as it may seem, this is a clash of ideals, with both parties committed to what they feel is right. But who\'s wrong if in the end we\'re all victims? In my heart, I have to believe that there is a peaceful compromise to our ideals. I don\'t mind if there are none for me, as long as there are for those who are yet to come. There are a lot of men like me on death row - good men - who fell to the same misguided emotions, but may not have recovered as I have. Give those men a chance to do what\'s right. Give them a chance to undo their wrongs. A lot of them want to fix the mess they started, but don\'t know how. The problem is not in that people aren\'t willing to help them find out, but in the system telling them it won\'t matter anyway. No one wins tonight. No one gets closure. No one walks away victorious.')]

In [23]:
query = """
    SELECT COUNT(last_statement) 
    FROM executions"""
c.execute(query).fetchall()

[(443,)]

In [25]:
query = """
    SELECT COUNT(ex_number)
    FROM executions"""
c.execute(query).fetchall()

[(553,)]

In [26]:
query = """
    SELECT COUNT(*) 
    FROM executions"""
c.execute(query).fetchall()

[(553,)]

In [27]:
query = """
    SELECT COUNT(*)
    FROM executions
    WHERE county = 'Harris'"""
c.execute(query).fetchall()

[(128,)]

In [28]:
query = """
    SELECT
    SUM(CASE WHEN county='Harris' THEN 1
        ELSE 0 END),
    SUM(CASE WHEN county='Bexar' THEN 1
        ELSE 0 END)
    FROM executions"""
c.execute(query).fetchall()

[(128, 46)]

In [30]:
query = """
    SELECT COUNT(*)
    FROM executions
    WHERE ex_age > 50"""
c.execute(query).fetchall()

[(68,)]

In [31]:
query = """
    SELECT COUNT(*)
    FROM executions
    WHERE last_statement is Null"""
c.execute(query).fetchall()

[(110,)]

In [35]:
query = """
    SELECT
    COUNT(CASE WHEN last_statement is Null THEN 1
    ELSE Null END)
    FROM executions"""
c.execute(query).fetchall()

[(110,)]

In [36]:
query = """
    SELECT
    COUNT(*) - COUNT(last_statement)
    FROM executions"""
c.execute(query).fetchall()

[(110,)]

In [37]:
query = """
    SELECT MIN(ex_age), MAX(ex_age), AVG(ex_age)
    FROM executions"""
c.execute(query).fetchall()

[(24, 67, 39.47016274864376)]

In [38]:
query = """
    SELECT AVG(LENGTH(last_statement))
    FROM executions"""
c.execute(query).fetchall()

[(537.492099322799,)]

In [42]:
query = """
    SELECT DISTINCT county
    FROM executions
    LIMIT 5"""
c.execute(query).fetchall()

[('Bexar',), ('Harris',), ('Tarrant',), ('Lubbock',), ('Dallas',)]

In [48]:
query = """
    SELECT 1.0 * COUNT(CASE WHEN last_statement LIKE '%innocent%' THEN 1 ELSE null END)/COUNT(*)
    FROM executions"""
c.execute(query).fetchall()

[(0.05605786618444846,)]

In [49]:
query = """
    SELECT county, COUNT(*) AS county_executions
    FROM executions
    GROUP BY county
    LIMIT 5"""
c.execute(query).fetchall()

[('Anderson', 4),
 ('Aransas', 1),
 ('Atascosa', 1),
 ('Bailey', 1),
 ('Bastrop', 1)]

In [64]:
query = """
    SELECT county, 
    SUM(last_statement is NOT NULL) AS has_last_statement,
    SUM(last_statement is NULL) AS no_last_statement
    FROM executions
    GROUP BY county
    LIMIT 5
    """
c.execute(query).fetchall()

[('Anderson', 4, 0),
 ('Aransas', 1, 0),
 ('Atascosa', 1, 0),
 ('Bailey', 1, 0),
 ('Bastrop', 1, 0)]

In [68]:
query = """
    SELECT county, COUNT(*)
    FROM executions
    WHERE ex_age >= 50
    GROUP BY county
    LIMIT 3"""
c.execute(query).fetchall()

[('Anderson', 1), ('Bexar', 2), ('Caldwell', 1)]

In [69]:
query = """
    SELECT county, COUNT(*)
    FROM executions
    WHERE ex_age >= 50
    GROUP BY county
    HAVING COUNT(county) > 2
    LIMIT 3"""
c.execute(query).fetchall()

[('Dallas', 11), ('Harris', 21), ('Lubbock', 3)]

In [70]:
query = """
    SELECT county
    FROM executions
    GROUP BY county
    LIMIT 3"""
c.execute(query).fetchall()

[('Anderson',), ('Aransas',), ('Atascosa',)]

In [73]:
query = """
    SELECT first_name, last_name
    FROM executions
    WHERE LENGTH(last_statement) = 
    (SELECT MAX(LENGTH(last_statement)) FROM executions)"""
c.execute(query).fetchall()

[('Gary', 'Graham')]

In [77]:
query = """
    SELECT county,
    100.0 * COUNT(*) / (SELECT COUNT(*) FROM executions) as percentage
    FROM executions
    GROUP BY county
    ORDER BY percentage DESC
    LIMIT 3"""
c.execute(query).fetchall()

[('Harris', 23.146473779385172),
 ('Dallas', 10.488245931283906),
 ('Bexar', 8.318264014466546)]

In [78]:
query = """
    SELECT JULIANDAY('1993-08-10') - JULIANDAY('1989-07-07') AS day_difference"""
c.execute(query).fetchall()

[(1495.0,)]

In [80]:
query = """
    SELECT
        ex_number +1 as ex_number,
        ex_date AS last_ex_date
    FROM executions
    WHERE ex_number < 553
    LIMIT 3"""
c.execute(query).fetchall()

[(553, '2018-06-27'), (552, '2018-05-16'), (551, '2018-04-25')]

In [86]:
query = """
    SELECT
        last_ex_date AS start,
        ex_date AS end,
        JULIANDAY(ex_date) - JULIANDAY(last_ex_date) AS day_difference
    FROM executions
    JOIN(
        SELECT
            ex_number +1 as ex_number,
            ex_date AS last_ex_date
        FROM executions
        WHERE ex_number < 553) previous
    ON executions.ex_number = previous.ex_number
    ORDER BY day_difference DESC
    LIMIT 10"""
c.execute(query).fetchall()

[('1982-12-07', '1984-03-14', 463.0),
 ('1988-01-07', '1988-11-03', 301.0),
 ('2007-09-25', '2008-06-11', 260.0),
 ('1990-07-18', '1991-02-26', 223.0),
 ('1984-03-31', '1984-10-30', 213.0),
 ('1996-02-27', '1996-09-18', 204.0),
 ('2016-04-06', '2016-10-05', 182.0),
 ('1985-09-11', '1986-03-12', 182.0),
 ('2014-04-16', '2014-09-10', 147.0),
 ('1996-09-18', '1997-02-10', 145.0)]

In [1]:
query = """a"""
c.execute(query).fetchall()

NameError: name 'c' is not defined

In [ ]:
query = """"""
c.execute(query).fetchall()

In [ ]:
query = """"""
c.execute(query).fetchall()

In [ ]:
query = """"""
c.execute(query).fetchall()

In [ ]:
query = """"""
c.execute(query).fetchall()

In [ ]:
query = """"""
c.execute(query).fetchall()

In [ ]:
query = """"""
c.execute(query).fetchall()

In [ ]:
query = """"""
c.execute(query).fetchall()

In [ ]:
query = """"""
c.execute(query).fetchall()

In [ ]:
query = """"""
c.execute(query).fetchall()

In [ ]:
query = """"""
c.execute(query).fetchall()

In [ ]:
query = """"""
c.execute(query).fetchall()

In [ ]:
query = """"""
c.execute(query).fetchall()

In [ ]:
query = """"""
c.execute(query).fetchall()

In [ ]:
query = """"""
c.execute(query).fetchall()

In [ ]:
query = """"""
c.execute(query).fetchall()

In [ ]:
query = """"""
c.execute(query).fetchall()

In [ ]:
query = """"""
c.execute(query).fetchall()